.users_container {
    margin: 0 auto;
    width: 70%;
}
.mat-column-role, .mat-column-user_name, .mat-column-first_name, .mat-column-last_name, 
.mat-column-phone_number, .mat-column-email_address, .mat-column-image{
    text-align: center;
    color: white;
}
table{
    background-color:#69818D;
}

.image-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }