<h1>Usuarios</h1>

<div class="users_container">
    <table>
        <tr>
            <th>Accion</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Correo</th>
            <th>Telefono</th>
        </tr>
        @for (User of Users; track User.name) {
            <th><input type="checkbox"></th>
            <th>{{ User.name }}</th>
            <th>{{ User.first_name }}</th>
            <th>{{ User.last_name }}</th>
            <th>{{ User.role_id }}</th>
            <th>{{ User.email_address }}</th>
            <th>{{ User.phone_number }}</th>
        }
    </table>
</div>