<mat-drawer-container fullscreen [hasBackdrop]="true">
    <mat-drawer #sidebar mode="push" position="end" (closed)="bookingDrawerClosed()">
        <h2>Reserva en {{selectedLodging?.name}}</h2>
        <form #bookingForm="ngForm" [formGroup]="bookingFormGroup" (ngSubmit)="submitBooking()">
            <mat-form-field>
                <mat-label>Seleccione las fechas de reserva</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Inicio" required>
                    <input matEndDate formControlName="endDate" placeholder="Finalización" required>
                </mat-date-range-input>
                <mat-error *ngIf="bookingFormGroup.errors?['required'] : true">La fecha es obligatoria.</mat-error>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-flat-button class="button" type="submit">Realizar reserva</button>
        </form>
    </mat-drawer>
    <mat-drawer-content>
        <div id="title_container">
            <h1>{{title}}</h1>
            <button mat-flat-button *ngIf="isLessor" type="button" (click)="createLodging()">Crear alojamiento</button>
            <mat-form-field>
                <input matInput placeholder="Buscar..." (input)="searchTermChanged($event)">
            </mat-form-field>
        </div>

        <div class="lodgings_container">
            <div *ngFor="let lodging of pagedLodgings" class="lodging_card">
                <img *ngIf="lodging.image != null" loading="lazy" src="{{prependImagesRoute(lodging.image)}}" alt="{{lodging.name}}" class="lodging_image">
                <div class="lodging_info">
                    <h2 class="lodging_name">{{ lodging.name }}</h2>
                    <p class="lodging_address">{{ lodging.address }}</p>
                    <p class="lodging_description">{{ lodging.description }}</p>
                    <div class="lodging_details">
                        <span class="price_per_night">Precio por noche: {{ lodging.per_night_price | currency }}</span>
                        <span class="rooms_available">{{ lodging.available_rooms}} habitaciones disponibles</span>
                    </div>
                </div>
                <div class="buttons_container">
                    <button mat-flat-button *ngIf="canBook" (click)="openBookingDrawer(lodging)">{{ isUserLogged ? "Reserva" : "Registrate para reservar" }}</button>
                    <button mat-flat-button *ngIf="isLessor" (click)="editLodging(lodging.lodging_id)">Editar</button>
                    <button mat-flat-button *ngIf="canDelete" (click)="deleteLodging(lodging.lodging_id)">Eliminar</button>
                </div>
            </div>
        </div>
        <mat-paginator #paginator mat-flat-paginator
            [length]="pagedLodgings.length" [pageSize]="pageSize"
            [pageIndex]="currentPage" [pageSizeOptions]="[5, 10]"
            (page)="pageChanged($event)">
        </mat-paginator>
    </mat-drawer-content>
</mat-drawer-container>