:host {
    align-items: center;
    display: flex;
    justify-content: center;
}

#booking-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(15px) brightness(40%);
    color: white;
    display: flex;
    flex-direction: column;
    height: 80vh;
    min-width: 50vw;
    max-width: 70vw;
    margin: 0 auto;
    padding: 20px;
}

#lessor_lodgings_input {
    margin: auto;
    min-width: 50%;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.table_container {
    flex: 1;
}

.custom-table {
    width: 100%;
}

.header-row {
    background-color: var(--color-secondary);
}

.header-cell {
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid var(--color-accent);
}

.data-row:nth-child(odd) {
    background-color: var(--color-accent);
}

.data-row:nth-child(even) {
    background-color: var(--color-secondary);
}

.data-cell {
    border: 1px solid var(--color-accent);
    color: white;
}

.data-cell, .header-cell {
    text-align: center;
}